@import "../../css/variable.scss";
@import "../../css/mixin.scss";

.account-type-component{
  border: 1px solid $border-color-grey;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  position:relative;
  cursor:pointer;

  &.active{
   @include colorRGBA(border,$main-color-cyan,0.5);
  }
  >img{
    width:100%;
    pointer-events: none;
  }
  .account-type{
    font-size:1.3rem;
    font-weight: bold;
    color:$main-color-black;
  }
  .choose{
    position: absolute;
    right: 5px;
    bottom: 5px;
    transform: translate(50%, 50%);
    background: $main-color-white;
    border-radius: 50%;
    display:none;

    &.show{
      display:inline;
    }
  }
}