@import "../../css/variable.scss";

.input-text-component{
  position: relative;
  max-width: 500px;
  margin: 25px auto;
  
  .input-label{
    position: absolute;
    top:0;
    left:20px;
    transform:translateY(calc(-50%));
    background-color:$main-color-cyan;
    color:$main-color-white;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 0.7rem;
    display: none;

    &.show{
      display:inline;
    }
  }
  .input-icon{
    width: 50px;
    top: 2px;
    left: 2px;
    background: #fff;
    height: calc(100% - 4px);
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    
    .svg-inline--fa{
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .custom-input-text{
    width: 100%;
    border-radius: 5px;
    border: 2px solid $border-color-grey;
    padding: 15px 50px;
    outline: none;
    box-sizing: border-box;
    font-size: 1rem;

    &::placeholder{
      color:$placeholder-color;
    }
    &:focus {
      border-color: $main-color-cyan;
    }
  }
}
